# .gitignore
.venv/
venv/
__pycache__/
*.pyc
*.pyo
local_store/fraud.db*
local_store/test_api.db
local_store/mlruns/
local_store/model_registry/
data/
*.pkl
.env
notebooks/.ipynb_checkpoints/
*.egg-info/
dist/
build/
.pytest_cache/
